extends ./layouts/master.pug

block title
  title Fullstack Test Task

block header
  include ./components/header.pug

block content
  block awesome-team
  include ./components/awesome-team.pug
  block built
  include ./components/built.pug
  block contact-us
  include ./components/contact-us.pug
