section.awesome
  .container
    .awesome__content
      .awesome__text
        h1.awesome__heading We are
          span.green  awesome team
          |  for your business dream
        p.awesome__paragraph
          | Integrated workflow designed for product teams. We create world-class development and branding
        .awesome__buttons
          a.btn.hover-up.btn-black.icon-arrow-right-white(href='signup.html') Get Started
          a.btn.icon-arrow-right.btn-link(href='contact-us.html') Learn More
    img.awesome__image(src='../../assets/imgs/template/awesome.png')
