section.built.container
  .built__title
    h1.built__heading Built exclusively for you
    p.built__body Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit laborum — semper quis lectus nulla.
  .built__content
    .built__feature.feature
      .feature__icon
        img(src='assets/imgs/template/icons/fi-sr-resources 1.svg')
      .feature__content
        h4 1. Acquisition
        p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit laborum — semper quis lectus nulla.
    .built__feature.feature
      .feature__icon
        img(src='assets/imgs/template/icons/fi-sr-playing-cards 1.svg')
      .feature__content
        h4 2. Activation
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .built__feature.feature
      .feature__icon
        img(src='assets/imgs/template/icons/fi-sr-stats 1.svg')
      .feature__content
        h4 3. Retention
        p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
