nav.nav-main-menu.d-none.d-xl-block
  ul.main-menu
    li
      a.active(href='#') Home
    li
      a(href='#') About
    li
      a(href='#') Services
    li
      a(href='#') Company
    li
      a(href='#') Blog
    li
      a(href='#') Contact
            