.mobile-header-active.mobile-header-wrapper-style.perfect-scrollbar
  .mobile-header-wrapper-inner
    .mobile-header-content-area
      .perfect-scroll        
        .mobile-menu-wrap.mobile-header-border
          nav
            ul.mobile-menu.font-heading
              li
                a.active(href='#') Home
              li
                a(href='#') About
              li
                a(href='#') Services
              li
                a(href='#') Company
              li
                a(href='#') Blog
              li
                a(href='#') Contact
